<div class="article-page">
  <div *ngIf="article" class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>
      <div style="display: flex" class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <a
            class="author"
            [routerLink]="['/profiles', article.author.username]"
          >
            {{ article.author.username }}
          </a>
          <span class="date"> {{ article.createdAt }} </span>
        </div>
        <span *ngIf="isAuthor | async; else notAuthor">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/articles', article.slug, 'edit']"
          >
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button
            (click)="deleteArticle()"
            class="btn btn-sm btn-outline-danger"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <ng-template #notAuthor>
          <span style="display: flex">
            <app-add-to-follow
              [username]="article.author.username"
              [isFollow]="article.author.following"
            />
            <app-add-to-favorite
              [isFavotire]="article.favorited"
              [articleSlug]="article.slug"
              [favoritesCount]="article.favoritesCount"
            />
          </span>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="container page">
    <app-loading *ngIf="isLoading$ | async"></app-loading>
    <app-error-message *ngIf="error$ | async"></app-error-message>
    <div *ngIf="article" class="row article-content">
      <div class="col-md-12">
        <div>
          <p>
            {{ article.body }}
          </p>
        </div>
        <app-tag-list [tags]="article.tagList"></app-tag-list>
      </div>
    </div>
    <hr />

    <div class="article-actions">
      <div style="display: flex; justify-content: center" class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" />
        </a>
        <div class="info">
          <a
            class="author"
            [routerLink]="['/profiles', article.author.username]"
          >
            {{ article.author.username }}
          </a>
          <span class="date"> {{ article.createdAt }} </span>
        </div>
        <span *ngIf="isAuthor | async; else notAuthor">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/articles', article.slug, 'edit']"
          >
            <i class="ion-edit"></i>
            Edit Article
          </a>
          <button
            (click)="deleteArticle()"
            class="btn btn-sm btn-outline-danger"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <ng-template #notAuthor>
          <span style="display: flex">
            <app-add-to-follow
              [username]="article.author.username"
              [isFollow]="article.author.following"
            />
            <app-add-to-favorite
              [isFavotire]="article.favorited"
              [articleSlug]="article.slug"
              [favoritesCount]="article.favoritesCount"
            />
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
