<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message *ngIf="error$ | async"></app-error-message>
<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date"> {{ article.createdAt }} </span>
      </div>
      <button class="pull-xs-right btn btn-sm btn-outline-primary">
        <i class="ion-heart"></i> 4385
      </button>
    </div>
    <a class="preview-link" [routerLink]="['/articles', article.slug]">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </a>
  </div>
  <app-pagination
    [url]="baseUrl"
    [total]="(feed$ | async)?.articlesCount"
    [currentPage]="currentPage"
  ></app-pagination>
</div>
